      body
      {
        background: #232323;
        margin: 0px;
      }
      
      p
      {
        color: white;
        font-family: consolas;
        font-size: 20px;
      }
      
      a
      {
        color: white;
        font-family: gill Sans, sans-serif;
        font-size: 20px;
      }
      
      h1
      {
        color: white;
        font-family: Arial Black;
        font-size: 35px;
      }
      
      h2
      {
        color: white;
        font-family: gill sans, sans-serif;
        font-size: 28px;
      }
      
      div
      {
        margin-left: 20px;
        margin-right: 20px;
      }