/* fonts */

@font-face {
  font-family: 'snes';
  src: url("./fonts/snes-webfont.woff2") format('woff2'),
       url("./fonts/snes-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  src: url('./fonts/Consolas-Bold.woff2') format('woff2'),
      url('./fonts/Consolas-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('./fonts/Consolas.woff2') format('woff2'),
      url('./fonts/Consolas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('./fonts/Consolas-BoldItalic.woff2') format('woff2'),
      url('./fonts/Consolas-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('./fonts/Consolas-Italic.woff2') format('woff2'),
      url('./fonts/Consolas-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* alignment */

html, body {
  margin: 0 10px;
  background: #EEE;
}

header {
  margin-left: 40px;
  margin-right: 40px;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

nav ul {
  flex: 1;
  text-align: center;
  margin: 0 30px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 30px;
}

hr.solid{
  border-top: 1px solid #222;
  border-bottom: none;
}

/* hide scrollbar */

html, div {
  scrollbar-width: none;
}

html::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* styling */

li a {
  font-size: 18px;
  font-family: Consolas;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: #444;
}

h1 h2 h3 p a {
  color: #222;
}

p {
  font-size: 20px;
  font-family: Consolas;
}

h1 {
  margin-left: 30px;
  font-size: 45px;
  font-family: snes;
}

h2 {
  margin-right: 30px;
  font-size: 20px;
  font-family: Consolas;
  text-decoration: underline;
}

h3 {
  font-family: Consolas;
  font-size: 25px;
}

h4 {
  font-family: Consolas;
  font-size: 22px;
}

th {
  font-family: Consolas;
  font-size: 20px;
  padding: 0px 10px;
  border-bottom: 1px solid #222;
}

th:nth-child(even), td:nth-child(even) {
  background-color: #DDD;
}

th:nth-child(odd), td:nth-child(odd) {
  background-color: #CCC;
}

td {
  padding: 5px;
  font-family: Consolas;
  border-left: 1px solid #222;
  text-align: center;
}

td:nth-child(1) {
  font-size: 20px;
  font-style: bold;
}

td:nth-child(8) {
  padding: 5px 5px;
  text-align: justify;
  border-bottom: 1px solid #BBB;
}

table {
  border-collapse: collapse;
  border: 1px solid #222;
}

img {  
  user-select: none;
}

.img-subtitle {
  font-size: 15px;
  color: #444;
}

.icon {
  user-select: none;
}

/* hide device warning */
#devicewarning {
  display: none;
}

/* ====responsive stuff==== */
/* tablets */
@media only screen and (max-width: 870px)
{
  nav {
    margin: 0 5px;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav h1 {
    margin-left: 15px;
  }

  nav h2 {
    margin-right: 15px;
  }
}

/* phablets */
@media only screen and (max-width: 640px)
{
  nav ul {
    text-align: left;
    position: absolute;
    top: 100px;
    left: 15px;
    padding-left: 0px;
  }

  nav h2 {
    position: absolute;
    right: 15px;
  }
}

/* phones */
@media only screen and (max-width: 595px)
{
  .solid {
    margin-top: 35px;
  }
}

/*hide button if too short*/
@media only screen and (max-height: 700px)
{
  #button {
    display: none;
  }
}

/* block website if too small */
/* @media only screen and (max-width: 303px)
{
  nav, main, #button {
    display: none;
  }

  #devicewarning {
    display: block;
  }
} */