/* fonts */

@font-face {
  font-family: 'snes';
  src: url("./fonts/snes-webfont.woff2") format('woff2'),
       url("./fonts/snes-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* alignment */

html, body {
  margin: 0 10px;
  background: #EEE;
}

header {
  margin-left: 40px;
  margin-right: 40px;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

nav ul {
  flex: 1;
  text-align: center;
  margin: 0 30px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 30px;
}

hr.solid{
  border-top: 1px solid #222;
  border-bottom: none;
}

/* text */

nav h1 {
  margin-left: 30px;
  font-size: 45px;
  font-family: snes;
}

nav h2 {
  margin-right: 30px;
  font-size: 20px;
  font-family: consolas;
  text-decoration: underline;
}

li a {
  font-size: 18px;
  font-family: consolas;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: #444;
}

h1 h2 h3 p a {
  color: #222;
}

p {
  font-size: 20px;
  font-family: consolas;
}

h3 {
  font-family: consolas;
  font-size: 25px;
}

h4 {
  font-family: consolas;
  font-size: 22px;
}